.form-wrapper {
    margin: 50px auto;
    max-width: 800px;
}

.form-body {
    text-align: left;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #ECECEC;
}

#form-header {
    text-align: center;
}

#form-btn-wrapper {
    text-align: center !important;
}